@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Krona+One&family=Montserrat:wght@300;900&family=Poppins&family=Prompt:wght@300;500&family=Quicksand:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Kanit&family=Krona+One&family=Montserrat:wght@300;900&family=Poppins&family=Prompt:wght@300;500&family=Quicksand:wght@300&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.containte {
  padding: 20px 60px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px 20px;
}

#root {
  width: 70%;
  height: 90vh;
  background-color: rgb(240, 240, 240);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.301);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #fff;
}

nav h1 {
  color: #0290ff;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  margin-left: 50px;
}

.switch {
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  margin-left: 20px;
  color: black;
}

.user-icon {
  margin-left: 450px;
  color: #0290ff;
  border: 1px rgb(148, 148, 148) solid;
  padding: 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.categories {
  color: rgb(124, 124, 124);
}

.title-datas {
  width: 60%;
}

.title-datas h5 {
  color: rgb(124, 124, 124);
}

.title-datas p {
  color: #0290ff;
  font-size: 13px;
}

.title-datas button {
  background-color: rgba(255, 255, 255, 0);
  color: #0290ff;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
}

.progresse {
  font-size: 35px;
  width: 10%;
}

.chapiter {
  padding: 0 50px;
  width: 20%;
  margin-left: 5%;
  border-left: 1px #d1d1d1 solid;
}

.chapiter p {
  font-size: 12px;
  margin-bottom: 10px;
}

.chapiter h4 {
  font-size: 13px;
}

.chapiter button {
  background-color: #0290ff;
  border: none;
  color: rgb(233, 233, 233);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form {
  padding: 10px 0;
  margin-top: 20px;
  border-top: #d1d1d1 1px solid;
}

.form h3 {
  font-size: 13px;
  color: #a3a3a3;
}

.form input {
  border: none;
  background-color: #fff;
  margin-right: 20px;
  padding: 5px;
  margin-top: 5px;
  outline: none;
  width: 25%;
}

.form button {
  background-color: #0290ff;
  border: none;
  color: rgb(233, 233, 233);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.categorie {
  text-align: center;
}

.categorie h1 {
  color: #d4d4d4;
  font-size: 60px;
  margin-top: 200px;
}
